@import 'tailwindcss';

@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source './**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer base {
	html,
	body {
		min-height: 100vh;
	}
	body {
		background-color: var(--heroui-content2, #f7f7f8);
	}
}

@layer utilities {
	.center {
		@apply flex justify-center items-center;
	}
}
